input {
    border: 0px solid white;
}

.search-input{
    width: 320px
}

.icons:hover{
    cursor: pointer
}

.movie-input{
    padding: 12px;
    margin: 12px;
    border: 2px solid rgb(174, 174, 174);
    border-radius: 6px;
}